---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("hobby");
---

<Layout>
  <h1>Hobby</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <article>
            <a href={`/hobby/${post.slug}`} data-astro-prefetch>
              {post.data.title}
            </a>
            <time datetime={post.data.pubDate.toLocaleString()}>
              {post.data.pubDate.toLocaleString("ja-JP", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
              })}
            </time>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
  }
  time {
    font-size: 14px;
  }
</style>
