---
import { type NavigationList } from "./types";
const navigationList: NavigationList[] = [
  { href: "/", name: "Home" },
  { href: "/tech", name: "Tech" },
  { href: "/hobby", name: "Hobby" },
];
---

<header>
  <nav>
    <ul>
      {
        navigationList.map(({ href, name }) => (
          <li>
            <a href={href} data-astro-prefetch>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  ul {
    display: flex;
    gap: 16px;
  }
</style>
